* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #505253;
  background-color: #e1e4e9;
  display: inline-block;
  width: 100%;
  font-family: "Lato";
}

#buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 60px;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
  margin-bottom: 60px;
}

.contact-icon:link,
.contact-icon:visited {
  height: 20px;
  cursor: pointer;
}

#mail-img {
  height: 25px;
}

#linkedin-img {
  height: 25px;
}

#intro-container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 30vw;
  grid-template-columns: 3fr 2fr;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.label {
  font-family: "Crimson Text";
  margin-bottom: 20px;
  font-size: 1.3vw;
}

#about-me {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 40px;
  font-size: 1.8vw;
}

.links:link,
.links:visited {
  font-family: "Crimson Text";
  font-size: 1.6vw;
  color: #c16200;
  text-decoration: none;
}

.links:hover,
.links:active {
  font-weight: 600;
}

#challenge-cont,
#solution-cont {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 40vw;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  background-color: #505253;
  color: #e1e4e9;
  padding: 50px 40px;
  border-radius: 20px;
  column-gap: 50px;
}

#info-cont {
  display: grid;
  grid-template-columns: 2fr 2fr;
  line-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  background-color: #505253;
  color: #e1e4e9;
  padding: 50px 40px;
  border-radius: 20px;
  column-gap: 50px;
  row-gap: 120px;
}

#solution-cont {
  background-color: transparent;
  color: #505253;
}

.words {
  align-self: center;
}

.desc {
  font-weight: 500;
}

#skills {
  margin-left: 60px;
  margin-right: 60px;
}

#skill-imgs {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 70px;
}

#last-link {
  margin-left: 60px;
  padding-bottom: 40px;
}

#skill-imgs2 {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 70px;
}
