* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #505253;
  background-color: #e1e4e9;
  display: inline-block;
  width: 100%;
  font-family: "Lato";
}

#buttons {
  display: flex;
  margin-top: 20px;
  margin-right: 60px;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
  margin-bottom: 60px;
}

.contact-icon:link,
.contact-icon:visited {
  height: 20px;
  cursor: pointer;
}

#mail-img {
  height: 25px;
}

#linkedin-img {
  height: 25px;
}

#intro-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
}

.words {
  align-self: center;
}

.label {
  font-family: "Crimson Text";
  margin-bottom: 20px;
  font-size: 1.3vw;
}

#about-me {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 40px;
  font-size: 1.8vw;
}

.links:link,
.links:visited {
  font-family: "Crimson Text";
  font-size: 1.6vw;
  color: #c16200;
  text-decoration: none;
}

.links:hover,
.links:active {
  font-weight: 600;
}

#headshot {
  height: 70vh;
  align-self: center;
  justify-self: center;
}

#content-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 25vw 25vw;
  margin-bottom: 80px;
}

#square-one {
  grid-column: 2;
}

#square-two {
  grid-column: 3;
}

#square-three {
  grid-column: 2;
}

#square-four {
  grid-column: 3;
}

.squares {
  display: grid;
  grid-template-rows: 50px 20px auto;
  justify-items: center;
}

.content-bubble {
  grid-column: 1;
  grid-row: 2/-1;
  color: #e1e4e9;
  background-color: #505253;
  width: 90%;
  height: 80%;
  padding: 40px 30px;
  border-radius: 10px;
}

.content-bubble:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.icon-bubble {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
  padding: 10px;
  color: #e1e4e9;
  background-color: #c16200;
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

#quote-one,
#quote-two {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.7vw;
}

#quote-two {
  font-size: 20px;
  margin-bottom: 16px;
}

#author-one,
#author-two {
  font-size: 1.1vw;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

ul li:before {
  content: "\2713";
  margin: 0 1em;
}

li {
  font-size: 1.4vw;
  margin-bottom: 14px;
}

.courses {
  font-size: 1.3vw;
}

footer {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}

#conclusion {
  margin-bottom: 20px;
  font-weight: 500;
}
